[user]
	name = Lucien Thany--Eynard
	email = 53664387+LTE-creator@users.noreply.github.com
[init]
	defaultBranch = master
[http]
	postBuffer = 500000000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
